<!DOCTYPE html>
<html ng-app="newProject" ng-controller="mainController">

<head>
    <title>首页</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="render/semantic.min.css">
    <link rel="stylesheet" href="render/jauery-ui.min.css">
    <link rel="stylesheet" type="text/css" href="render/timePicker/jquery-ui-timepicker-addon.css">
</head>

<body>

    <div class="ui top successMsg sidebar" style="background:green;text-align:center">
        ok
    </div>
    <div class="ui top errorMsg sidebar" style="background:red;text-align:center">
        error
    </div>
    <div class="pusher" style="margin: 0;padding: 0;">
        <div class="ui attached stackable menu" style="background: rgba(1,1,1,0.8);">
            <div class="ui container">
            
                <a class="item" style="color: white" ng-click="addTodoModal.showDiv(null)">
                     <i class="home icon "></i> NEW
                </a>
                <a class="orange item {{menu.active?'active':''}}" ng-click="menuServer.selectMenu(menu.id)" style="color: white" ng-repeat="menu in menuServer.getMenu()">
                     <i class="home icon "></i> {{menu.title}}
                </a>
                <div class="ui simple dropdown item">
                    More
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a class="item"><i class="edit icon"></i> Edit Profile</a>
                        <a class="item"><i class="globe icon"></i> Choose Language</a>
                        <a class="item"><i class="settings icon"></i> Account Settings</a>
                    </div>
                </div>
                <div class="right item">
                    <div class="ui input">
                        <input type="text" placeholder="Search...">
                    </div>
                </div>
            </div>
        </div>
        <div class="ui segment" ng-show="true">
            <!--{{ userName}}-->
            <textarea ng-model="message">

            </textarea>
            <!--<div class="ui button" ng-click="doSend()">ok</div>-->
            <div class="ui button" ng-click="login()">扫码登录</div>
            <!--<div id="QEM" style="width: 200px;height: 200px;"> </div>-->

        </div>

        <div ng-view>
        </div>


    </div>

    <add-todo-window conf="addTodoModal"></add-todo-window>
    <div id="balckBoard" class="transition hidden" style="background: black;z-index: 2;
        height: 100%;width: 100%;opacity: 0.8;
        position: fixed;
        top: 0;
        overflow-y: auto;right:0;">

    </div>






    <script src="js/library/qrcode.min.js"></script>
    <script src="js/library/jquery.min.js"></script>
    <script src="render/semantic.min.js"></script>
    <script src="js/library/angularjs.min.js"></script>
    <script src="js/library/angularjs-route.min.js"></script>
    <script src="js/library/jquery-ui.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/service/menuServer.js"></script>
    <script src="js/service/taskService.js"></script>

    <script type="text/javascript" src="js/library/sockjs.min.js"></script>
    <script src="js/drivate/repeatFinish.js"></script>
     <script src="js/drivate/add.todo.window.js"></script>
    <script src="js/drivate/a1.js"></script>
    <script src="js/drivate/a2.js"></script>
    
    
    <script src="js/contro/mainController.js"></script>
    <script src="js/contro/calendarController.js"></script>
    <script src="js/contro/todayController.js"></script>

    <script src="render/timePicker/jquery-ui-timepicker-addon.js"></script>
    <script src="render/timePicker/i18n/jquery-ui-timepicker-zh-CN.js"></script>
    <div class="ui mini centered basic modal" style="width: 360px;" id="QEM_Modal">
        <div class="ui img centered header" align="center">
            <div id="QEM" style="width: 360px;height: 360px;text-align: center" align="center"> </div>
        </div>
        <div class="content" style="text-align: center;">
            <div>{{status}}</div>
        </div>
        <div class="actions">
        </div>
    </div>
</body>

</html>
