<div style="padding:0">

    <style>
        .ui.shape{
            width: 100%
        }
        .ui.shape .sides{
            width: 100%
        }
        .ui.shape .sides .side{
            width: 100%
        }

    </style>
    <div id="list_page" style=" transition: 0.5s;position: absolute;margin:0;left:0;right:0px;top: 0;bottom: 0;">
    <div class="myHead" style="background:forestgreen ;height:150px;line-height:150px;">
           <table style="position: absolute;margin:0 ;width: 100%;    top: 45px;">
               <tr style="width: 100%">
                   <td>
                       <div class="ui huge fluid input"
                            style="background-color:transparent">
                           <input ng-dblclick="db()"  ng-if="!canUpdate"type="text" style="background-color:transparent;border: 0" readonly="true" ng-model="_thisList.title">
                           <input id="_listTitle" ng-keyup="listEnterEvent($event)" ng-if="canUpdate"type="text" ng-blur="onBlur()" style="background-color: rgba(223, 234, 227, 0.2);" ng-model="_thisList.title">
                       </div>
                   </td>
                   <td style="width: 100px;">
                       <div class="ui icon buttons">

                           <button class="ui button"  ng-if="canUpdate"><i class="check icon"></i></button>
                           <button class="ui button"  ng-if="!canUpdate" ng-click="db()"><i class="edit icon"></i></button>
                           <button class="ui button"><i class="text width icon"></i></button>
                           <button class="ui button" ng-click="deleteList()"><i class="trash alternate icon"></i></button>
                       </div>
                   </td>
               </tr>
           </table>
    </div>
    <div class="myBody" style="background: saddlebrown;top:150px;
            bottom:0px;padding: 7px;">
        <table class="ui yellow selectable striped table">
        <tbody>
            <tr ng-repeat="task in listTasks" >
                <td style="width: 15px;padding: 0;">
                    <div class="ui animated fade button" tabindex="0" style="padding-right: 0!important;background: transparent;">
                        <div  class="visible content"><i class="circle blue outline icon"></i></div>
                        <div  class="hidden content"> <i class="circle blue icon"></i></div>
                    </div>
                </td>
                <td ng-click="selectTask(task)" ng-dblclick="openTaskDetail()" style="-webkit-user-select:none;-moz-user-select:none; -ms-user-select:none;user-select:none;">
                    {{task.title}}
                </td>
                <td style="width: 150px;padding: 0;">
                    <div class="ui icon buttons">
                        <button class="ui button" ><i class="edit icon"></i></button>
                        <button class="ui button" ng-click="deleteTask($index)"><i class="trash alternate icon"></i></button>
                    </div>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="3">
                    <div class="ui fluid icon input">
                    <input type="text" ng-model="title" ng-keyup="listTaskEnterEvent($event)">
                    <i class="add link icon" ng-click="addTask()"></i>
                    </div>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
    </div>
    <div id="task_page" style="visibility: hidden;background: yellow; transition: 0.5s;position: absolute;margin:0;width:400px;right:-400px;top: 0;bottom: 0;overflow-y: auto;">
        <div class="myHead" style=" background: red; height: 30px;line-height: 30px;">
            <i class="ui angle double right icon" style="cursor:pointer;" ng-click="closeTaskDetail()"></i>
        </div>
        <div class="myBody" style="background: #5a30b5;height: 300px;top:30px;padding:7px;">
            <h2 class="ui header">
                <i class="settings icon"></i>
                <div class="content">{{_thisTask.title}}
                    <div class="sub header">{{_thisTask.createTime | date:"yyyy/MM/dd"}}</div>
                </div>
            </h2>
        </div>
    </div>
</div>
