<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:context="http://www.springframework.org/schema/context"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/security
http://www.springframework.org/schema/security/spring-security.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <!--suppress UnparsedCustomBeanInspection -->

    <http auto-config="true">
        <headers disabled="true"/>
        <csrf disabled="true"/>
        <!--<http-basic/>-->
        <intercept-url pattern="/login.jsp" access="permitAll" />
        <intercept-url pattern="/invalidTocken.html" access="permitAll" />
        <intercept-url pattern="/index.html" access="hasRole('ROLE_USER')" />
        <intercept-url pattern="/mobileLogin.html" access="permitAll" />
        <intercept-url pattern="/mobileLogin.jsp" access="permitAll" />
        <intercept-url pattern="/mobileRegister.html" access="permitAll" />
        <intercept-url pattern="/mobileRegister.jsp" access="permitAll" />
        <intercept-url pattern="/mobileUserInfo.jsp" access="permitAll" />
        <!--<intercept-url pattern="/" access="permitAll" />-->
        <intercept-url pattern="/api/isLogin" access="permitAll"/>
        <intercept-url pattern="/api/user/**" access="permitAll"/>
        <intercept-url pattern="/api/wx/**" access="permitAll"/>
        <intercept-url pattern="/api/login" access="permitAll"/>

        <intercept-url pattern="/api/todo/login" access="permitAll"/>
        <intercept-url pattern="/api/websocket/**" access="permitAll"/>
        <!--<intercept-url pattern="/api/**" access="hasRole('ROLE_USER')"/>-->
        <intercept-url pattern="/api/**" access="permitAll"/>

        <form-login login-processing-url="/api/j_spring_security_check"
                    default-target-url="/index.html"
                    login-page="/api/login"
                    username-parameter="username"
                    password-parameter="password"
                    always-use-default-target="false"
                    />

    </http>


    <beans:bean id="passwordEncoder"
            class="org.springframework.security.crypto.password.NoOpPasswordEncoder" factory-method="getInstance"></beans:bean>

      <user-service id="userService" >
        <user name="admin" password="admin" authorities="ROLE_ADMIN"/>
        <user name="user" password="user" authorities="ROLE_BAIDU"/>
    </user-service>
    <!-- 认证管理器-->
    <beans:bean id="loginUser" class="com.todo.security.LoginUser"/>
    <beans:bean id="userDetialServiceImp"
                class="com.todo.security.UserDetialServiceImp">
        <beans:property name="loginUser" ref="loginUser"/>
    </beans:bean>
    <beans:bean id="myPaswEncoder" class="com.todo.security.MyPaswEncoder"/>
    <authentication-manager>
        <authentication-provider user-service-ref="userDetialServiceImp">
            <password-encoder ref="myPaswEncoder"></password-encoder>
        </authentication-provider>
    </authentication-manager>



</beans:beans>