<div class="ui tiny modal">
    <div class="header">新待办</div>
    <div class="content">
        <div class="ui form">
<!--<input type="text" id="newTodoTime">-->
            <div class="field">
                <label>类型</label>
            <div class="ui fluid selection dropdown">
                <input type="hidden" name="user">
                <i class="dropdown icon"></i>
                <div class="text"><i class="{{typeMap[addType].icon}} icon"/>{{typeMap[addType].title}}</div>
                <div class="menu">
                    <div class="item" ng-repeat="type in newTypes"
                         ng-click="addType=type.type"><i class="{{type.icon}} icon"/> {{type.title}} </div>
                </div>
            </div>
            </div>
            <div class="field">
                <label>标题</label>
                <input type="text" ng-model="task.title">
            </div>
            <div class="field">
                <label>时间</label>
                <input type="text" id="newTodoTime">
            </div>
            <div class="field">
                <label>内容</label>
                <textarea ng-model="task.note"></textarea>
            </div>
            

        </div>
    </div>
    <div class="actions">

        <div class="ui green animated fade approve button">
            <div class="visible content">确定</div>
            <div class="hidden content">添加</div>
        </div>
        <div class="ui red cancel button">取消</div>
    </div>
</div>
